{{#partial "content"}}

    <div class="jumbotron"><div id="align"><a class="animated fadeInUp" href="/animal">Animals</a>
        <span id="move">

<div class="animated fadeInUp"><a  href="/endangered">Endangered Animals</a></span></div></div></div>

    <h1 class="animated zoomIn" >WILDLIFE TRACKER</h1>

    <div class="card bg-dark text-white" id="card">
        <div class="card-body"><a href="animaldisplay"><img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/53197038393767.576030dbd498a.png" width=100% height=100% alt=""></div>
        <div class="card-footer">Endangered Animals</a> </div></div>
    <br><br>
    <div class="card bg-dark text-white" id="card">
        <div class="card-body"><a href="endangereddisplay"><img src="https://i.imgur.com/NODgjVT.jpg" width=100% height=100% alt=""></div>
        <div class="card-footer"> Animals</a> </div></div>
{{/partial}}

{{> layout.hbs}}